body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    user-select: none;
}


.left_side,
.right_side {
    flex: 1;
    height: 100vh;
}


.left_side {
    flex: 20%;
}

.right_side {
    flex: 80%;
}

.title {
    height: 17%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.title_left {
    height: 100%;
    width: 50%;
}

.title_text {
    box-sizing: border-box;
    height: 60%;
    padding-top: 7%;
    padding-left: 10%;
    font-size: calc((1vw + 1vh)*0.83);
    font-family: 'Montserrat';
    font-weight: 500;
}

.title_description {
    height: 40%;
    padding-top: 2%;
    padding-left: 10%;
    font-size: calc((1vw + 1vh)*0.75);
    font-family: 'Montserrat';
    color: #808080;
    font-weight: 500;
}

.list {
    height: 63%;
}

/*Кнопки*/

.buttons_box {
    height: 20%;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7%;
    padding-left: 5%;
}

.order_button,
.cancel_button {
    width: 25%;
    height: 40%;
    border: none;
    border-radius: 50px;
    font-size: calc((1vw + 1vh)*0.75);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    display: flex;
    justify-content: center;
    align-items: center;
}

.order_button {
    background-color: #1F5569;
}

.cancel_button {
    background-color: #CB0404;

}

.order_button:hover {
    background-color: #0C3848;
}

.cancel_button:hover {
    background-color: #7D0303;
}

.content {
    height: 83%;
}

.status_bar {
    padding-left: 5%;
    width: 70%;
    height: 20%;
}

.order_info {
    margin-top: 2%;
    padding-left: 5%;
    width: 70%;
    height: 55%;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: calc((1vw + 1vh)*0.83);
    padding: calc((1vw + 1vh)*0.417);
    background-color: #f9f9f9;
    border-radius: 8px;
}

.product_image {
    width: calc((1vw + 1vh)*5);
    height: auto;
    border-radius: 4px;
    margin-right: calc((1vw + 1vh)*0.833);
}

.product_details {
    flex-grow: 1;
}

.product_name {
    font-size: calc((1vw + 1vh)*0.75);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: calc((1vw + 1vh)*0.333);
}

.product_description {
    font-size: calc((1vw + 1vh)*0.667);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: calc((1vw + 1vh)*0.333);
    color: #555;
}

.product_count {
    font-size: calc((1vw + 1vh)*0.667);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-weight: bold;
    color: #333;
}

.button_box {
    height: 100%;
    width: 50%;
}

.complete_button {
    margin-top: 6%;
    margin-left: 17%;
    width: 35%;
    height: 35%;
    border: none;
    border-radius: 50px;
    font-size: calc((1vw + 1vh)*0.75);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #1F5569;
}

.complete_button:hover {
    background-color: #0C3848;
}

.complete_button_mob {
    display: none;
}

.alert_mob {
    display: none;
}


@media screen and (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .right_side {
        flex: none;
        width: 100%;
        height: 89vh;
        order: 2;
    }

    .title {
        height: 11vh;
        background-color: #BEEAFA;
    }

    .title_left {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .title_text {
        font-size: calc((1vw + 1vh)*2.05);
        padding-top: 0;
        padding-left: 6%;
        display: flex;
        align-items: center;
    }

    .content {
        display: flex;
        flex-direction: row-reverse;
        height: 75%;
    }

    .status_bar {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .order_info {
        margin-top: 5%;
        padding-left: 2%;
        padding-right: 20%;
        width: 78%;
        height: 55%;
    }

    .product {
        display: flex;
        align-items: center;
        margin-bottom: calc((1vw + 1vh)*1.92);
        padding: calc((1vw + 1vh)*0.96);
        background-color: #f9f9f9;
        border-radius: 8px;
    }

    .product_image {
        display: none;
    }

    .product_details {
        flex-grow: 0;
    }

    .product_name {
        font-size: calc((1vw + 1vh)*1.34);
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin-bottom: calc((1vw + 1vh)*0.77);
    }

    .product_description {
        font-size: calc((1vw + 1vh)*1.15);
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin-bottom: calc((1vw + 1vh)*0.77);
        color: #555;
    }

    .product_count {
        font-size: calc((1vw + 1vh)*1.15);
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-weight: bold;
        color: #333;
    }

    .left_side {
        flex: none;
        width: 100%;
        height: 11vh;
        order: 1;
    }

    .button_box {
        display: none;
    }

    .complete_button_mob {
        display: block;
        margin-left: 5%;
        width: 50%;
        height: 7%;
        border: none;
        border-radius: 50px;
        font-size: calc((1vw + 1vh)*1.15);
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        cursor: pointer;
        color: #fff;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-color: #1F5569;
    }


    .title_description {
        display: none;
    }

    .list {
        height: 63%;
    }


    .buttons_box {
        height: 25%;
        width: 100%;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7%;
        padding-left: 0;
        padding-top: 10%;
    }


    .order_button,
    .cancel_button {
        width: 80%;
        height: 35%;
        border: none;
        border-radius: 50px;
        font-size: calc((1vw + 1vh)*1.73);
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        cursor: pointer;
        color: #fff;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .alert_mob {
        display: block;
        font-size: calc((1vw + 1vh)*1.72);
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        padding-left: 6%;
        padding-top: 10%;
    }

}