body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    user-select: none;
}


.left_side,
.right_side {
    flex: 1;
    height: 100vh; 
}


/*Левая часть страницы*/
.left_side {
    flex: 20%;
}

/*Правая часть страницы*/
.right_side {
    flex: 80%;

}

.title {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
  
.title_left {
    height: 100%;
    width: 50%;
}
  
.title_text {
    box-sizing: border-box;
    height: 60%;
    padding-top: 7%;
    padding-left: 10%;
    font-size: calc((1vw + 1vh)*0.83);
    font-family: 'Montserrat';
    font-weight: 500;
}

.brief_info {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.brief_info_left {
    height: 100%;
    width: 50%;
}

.brief_info_name {
    padding-left: 10%;
    font-size: calc((1vw + 1vh)*1.66);
    font-family: 'Montserrat';
    font-weight: 600;
}

.brief_info_definition {
    padding-left: 10%;
    margin-top: 2%;
    font-size: calc((1vw + 1vh)*0.83);
    font-family: 'Montserrat';
    font-weight: 300;
}

.brief_info_number {
    padding-left: 10%;
    margin-top: 12%;
    font-size: calc((1vw + 1vh)*0.83);
    font-family: 'Montserrat';
    font-weight: 300;
}

.brief_info_right {
    height: 100%;
    width: 50%;
}

.brief_info_right img{
    height: 100%;
    width: auto;
}

.description {
    height: 43%;
    width: 100%;
}

.text {
    padding-left: 5%;
    margin-top: 3%;
    width: 68%;
    text-align: justify;
    font-size: calc((1vw + 1vh)*0.75);
    font-family: 'Montserrat';
    font-weight: 300;

}

@media screen and (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column-reverse; 
        justify-content: flex-end;
    }

    
    .right_side {
        flex: none;
        width: 100%;
        height: 89vh;
        order: 2; /* right_side будет отображаться сверху */
    }

    .brief_info_right img{
        height: 100%;
        width: 50%;
    }

    .title {
        height: 11vh;
        background-color: #BEEAFA;
    }

    .title_left {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .title_text {
        font-size: calc((1vw + 1vh)*2.05);
        padding-top: 0;
        padding-left: 6%;
        display: flex;
        align-items: center;
    }

    .brief_info {
        flex-direction: row;
        height: auto;
        padding-top: 5%;
    }

    .brief_info_left{
        flex-direction: column;
    }
    
    .brief_info_name {
        font-size: calc((1vw + 1vh)*1.91); ;
        padding-left: 14%;
    }

    .brief_info_definition,
    .brief_info_number {
        font-size: calc((1vw + 1vh)*1.53); 
        margin-top: 5%;
        padding-left: 14%;
    }

    .brief_info_right img{
        height: 100%;
        width: 100%;
    }
    
    .description {
        height: auto;
    }

    .text {
        padding: 3% 7%;
        font-size: calc((1vw + 1vh)*1.34); 
        width: auto;
    }


    .left_side {
        flex: none;
        width: 100%;
        height: 11vh; 
        order: 1;
    }

}
