body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.button_box {
    width: 100%;
    height: 18%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button_box:hover {
    background-color: white;
}


.img_box {
    height: auto;
    width: 30%;
    padding-left: 9%;
}

.flagOutputImgBox {
    height: auto;
    width: 30%;
    padding-left: 9%;
}

.img {
    height: auto;
    width: 60%;
    padding-left: 9%;
}

.text {
    font-size: calc((1vw + 1vh)*0.83);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    height: auto;
    width: 70%;
}

.flagOutputText{
    font-size: calc((1vw + 1vh)*0.83);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    height: auto;
    width: 70%;
}

.output {
    font-size: calc((1vw + 1vh)*0.83);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    height: 18%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.output:hover {
    background-color: white;
    cursor: pointer;

}


@media screen and (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: row;
    }


    .button_box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-top: 2%;
    }

    .img_box {
        height: auto;
        width: 30%;
        padding-left: 0;
    }

    .img{
        height: auto;
        width: 100%;
        padding-left: 0;
    }

    .text {
        text-align: center;
        font-size: calc((1vw + 1vh)*1.15);
    }


    .button_box:hover {
        background-color: #BEEAFA;
    }

    .flagOutputImgBox {
        height: auto;
        width: 25%;
        padding: 0;
    }

    .flagOutputText{
        font-size: calc((1vw + 1vh)*1.15);
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        height: auto;
        width: 70%;
        text-align: center;
    }

    .output{
        font-size: calc((1vw + 1vh)*1.15);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
    }
}