body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }


.bar {
    background-color: #BEEAFA;
    height: 100%;
    width: 100%;
}


.logo_box{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_svg {
    
    height: 80%;
    width: auto;
  }

.container {
    height: 80%;
}


@media screen and (max-width: 480px) {
  .logo_svg {
    
    display: none;
  }

  .logo_box{
    display: none;
}
}