body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    user-select: none;
}

.left_side,
.right_side {
    flex: 1;
    height: 100vh; 
}


/*Левая часть страницы*/
.left_side {
    flex: 20%;
}

/*Правая часть страницы*/
.right_side {
    flex: 80%;
}


.button_box {
    width: 100%;
    height: 18%;
    display: flex;
    align-items: center;
  
}

.button_box:hover {
    background-color: white;
}

.img_box {
    height: auto;
    width: 30%;
    padding-left: 9%;
}

.img {
    height: auto;
    width: 60%;
    padding-left: 9%;
}

.text {
    font-size: calc((1vw + 1vh)*0.83);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    height: auto;
    width: 70%;
}

.title {
    height: 17%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.title_left,
.title_right {
    height: 100%;
    width: 50%;
}

.title_text {
    box-sizing: border-box;
    height: 60%;
    padding-top: 7%;
    padding-left: 10%;
    font-size: calc((1vw + 1vh)*0.83);
    font-family: 'Montserrat';
    font-weight: 500;
}

.title_description {
    height: 40%;
    padding-top: 2%;
    padding-left: 10%;
    font-size: calc((1vw + 1vh)*0.75);
    font-family: 'Montserrat';
    color: #808080;
    font-weight: 500;
}

.title_right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
}

.pagination {
    width: 60%;
    height: 50%;
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

.left_arrow,
.right_arrow {
    height: 60%;
    width: auto;
}

.page {
    font-size: calc((1vw + 1vh)*1);
    font-family: 'Montserrat';
    font-weight: 500;
}

.left_arrow:hover,
.right_arrow:hover {
    fill-opacity: 0.5; 
}

.list {
    height: 83%;
}

@media screen and (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column-reverse; 
        justify-content: flex-end;
    }

    
    .right_side {
        flex: none;
        width: 100%;
        height: 89vh;
        order: 2; /* right_side будет отображаться сверху */
    }

    .title {
        height: 11vh;
        background-color: #BEEAFA;
    }

    .title_left {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .title_text {
        font-size: calc((1vw + 1vh)*2.05);
        padding-top: 0;
        padding-left: 6%;
        display: flex;
        align-items: center;
    }

    .title_description {
        display: none;
    }

    .title_right {
        display: none;
    }

    .left_side {
        flex: none;
        width: 100%;
        height: 11vh; 
        order: 1;
    }

}